.navbar {
    background-color: gray;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;

        @include for-size(tablet) {
            justify-content: space-around;
        }

        li {

            input {
                position: relative;
                width: 300px;
                height: 30px;
                border-radius: 20px;
                border: none;
                padding-left: 40px;
            }
    
            .fa-magnifying-glass {
                position: absolute;
                right: 300px;
                top: 16px;
            }

            .dropdown-menu {
                display: none;
            }

            #drop {
                width: 300px;
            }
        }

        li:focus {

            .dropdown-menu {
                display: block;
            }
        }

        li {
            padding: 10px 30px;
            position: relative;

            a {

                h1 {
                    font-weight: 600;
                    font-size: 115%;
                }
            }

            .dropdown-menu {
                display: none;

                ul {
                    display: block;
                    margin: 10px;

                    li {
                        width: 150px;
                        padding: 10px;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;
                            transition: all 0.3s;
                        }

                        a:hover {
                            color: blue;
                        }

                        .dropdown-menu-2 {
                            display: none;
                        }
                    }

                    li:hover {

                        .dropdown-menu-2 {
                            display: block;
                            position: absolute;
                            top: 100%;
                            margin-top: -20px;
                            margin-left: 140px;
                            z-index: 1;
                            background-color: rgb(201, 199, 199);
                        }
                    }
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                transition: all 0.3s;
            }

            a:hover {
                color: blue;
            }
        }

        li:hover {

            .dropdown-menu {
                display: block;
                position: absolute;
                top: 100%;
                z-index: 1;
                background-color: rgb(201, 199, 199);

                ul {
                    display: block;
                    margin: 10px;

                    li {
                        width: 150px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}